In [41]:
import pandas as pd
import numpy as np
from sklearn import preprocessing
import json


d1 = json.loads(open('training_wsd_before2/results.json', 'r').read())
d2 = json.loads(open('training_wsd_after/results.json', 'r').read())

In [42]:
df = pd.DataFrame(columns=['word','acc.before', 'nbr. of senses before', 'acc.after', 'nbr. of senses after'])

for key, val in d1.items():
    df.loc[len(df)] = [key, val['accuracy'], val['number_of_senses'], 1.0, 1]
for key, val in d2.items():
    try:
        df.loc[df['word'] == key, 'acc.after'] = val['accuracy']
        df.loc[df['word'] == key, 'nbr. of senses after'] = val['number_of_senses']
    except:
        pass

In [43]:
df

,word,acc.before,nbr. of senses before,acc.after,nbr. of senses after
0,remain,0.759325,3,0.743448,2
1,paris,1.000000,2,1.000000,1
2,fall,0.921390,3,0.993421,2
3,master,0.825381,7,0.907984,5
4,evening,0.654614,4,0.678741,3
5,continue,1.000000,2,1.000000,1
6,work,0.661555,6,0.704832,4
7,leave,0.737235,7,0.740211,5
8,wall,0.314878,7,0.417019,6
9,reply,0.614826,5,0.696221,4
10,reporter,1.000000,3,1.000000,1
11,cry,0.995763,3,0.997881,2
12,turn,0.743538,5,0.774287,4
13,world,1.000000,2,1.000000,1
14,return,0.680720,6,0.806497,4
15,room,0.698080,4,0.697902,3
16,vessel,0.682738,4,0.739484,3
17,face,0.788229,5,0.814723,3

In [29]:
np.mean((df['acc.after'] - df['acc.before']).values)

0.03524332925065992

In [7]:
df

    acc.before  acc.after
0     0.759325        1.0
1     1.000000        1.0
2     0.921390        1.0
3     0.825381        1.0
4     0.654614        1.0
5     1.000000        1.0
6     0.661555        1.0
7     0.737235        1.0
8     0.314878        1.0
9     0.614826        1.0
10    1.000000        1.0
11    0.995763        1.0
12    0.743538        1.0
13    1.000000        1.0
14    0.680720        1.0
15    0.698080        1.0
16    0.682738        1.0
17    0.788229        1.0